@font-face {
  font-family: 'RaphaelIcons';
  src: url('fonts/raphaelicons-webfont.eot');
  src: local('☺'), url('fonts/raphaelicons-webfont.woff') format('woff'), url('fonts/raphaelicons-webfont.ttf') format('truetype'), url('fonts/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: Georgia, serif;
  line-height: 1.5em;
  color: #000;
  background-color: #999;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #FFF;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

/* Icon font stuff from http://css-tricks.com/examples/IconFont/ */
[data-icon]:before {
  font-family: 'RaphaelIcons';
  content: attr(data-icon);
  font-size: 2em;
  font-weight: normal;
  speak: none;
}
.icon-alone {
  display: inline-block;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#main-container {
  display: table;
  width: 100%;
  height: 100%;
}
#main {
  display: table-cell;
  vertical-align: middle;
  text-shadow: 0 0 5px #FFF;
  filter: dropshadow(color=#FFF, offx=0, offy=0);
}
ul#links {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: -0.05em;
}
ul#links li {
  display: inline-block;
  margin: 0 0.25em;
}
#background-container {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

@media (min-width: 750px) {
  #main {
  }
}
